
allow vendor_init init_service_status_private_prop:file read;
allow vendor_init efs_file:chr_file getattr;
allow vendor_init radio_core_data_file:dir { add_name create getattr setattr write };
allow vendor_init unlabeled:blk_file { getattr relabelfrom };
allow vendor_init unlabeled:chr_file { getattr relabelfrom };
allow vendor_init unlabeled:dir search;
