#============= untrusted_app_30-grapheneos ==============
allow untrusted_app_30 firmware_file:dir search;
allow untrusted_app_30 proc:file read;
allow untrusted_app_30 sysfs:dir { open read };
allow untrusted_app_30 sysfs:file { open read };
allow untrusted_app_30 sysfs_batteryinfo:dir search;
allow untrusted_app_30 sysfs_net:dir search;
allow untrusted_app_30 sysfs_camera:dir search;
allow untrusted_app_30 sysfs_graphics:dir search;
allow untrusted_app_30 vendor_default_prop:file open;
allow untrusted_app_30 vendor_system_prop:file open;
